# vscode config files
.vscode
compile_commands.json

# kdevelop
*.kdev4

# object and binary
bin/*
obj/*

# python bytecode
*.pyc
# test scripts
*lol*.py

# data types
data/*.txt

# figures
fig/*

# my own symlinks
main
test

# latex
*minted-report*
*.pyg
*.dvi
*.bcf
*.aux
*.run.xml
*.synctex.gz
*.synctex(busy)
